<configuration>
    <springProperty name="graylogHost" source="spring.graylog.host"/>
    <springProperty name="graylogPort" source="spring.graylog.port"/>
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${graylogHost}</graylogHost>
        <graylogPort>${graylogPort}</graylogPort>
    </appender>

    <root level="INFO">
        <appender-ref ref="GELF"/>
    </root>
</configuration>